

/* Import google font */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --primary-pink:rgb(158, 14, 172);
}
/* ------------Menu buttons-------------- */
*{
  font-family: 'Press Start 2P', cursive;}
nav a.nav-link {
  font-size: small;
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

/* .navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  border-top: 0.1875rem solid var
} */

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
border-top: 0.1875rem solid var(--primary-pink);
/* border-bottom: 0.1875rem solid var(--primary-pink); */
}

.navbar-nav > li > a:hover {
  
  border-top: 0.1875rem solid var(--primary-pink);
}
