

/* Import google font */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --primary-pink:rgb(158, 14, 172);
}

/* ---nav------------- */

nav {
  z-index: 2;
}
/* ------------Menu buttons-------------- */
*{
  font-family: 'Press Start 2P', cursive;}
nav a.nav-link {
  font-size: small;
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

/* .navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  border-top: 0.1875rem solid var
} */

@media(max-width: 768px) {
  .navbar-brand {
    width: 4rem;
  }
}


.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
border-top: 0.1875rem solid var(--primary-pink);
/* border-bottom: 0.1875rem solid var(--primary-pink); */
}

.navbar-nav > li > a:hover {
  
  border-top: 0.1875rem solid var(--primary-pink);
}

.header-wrapper {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(yes.jpg) no-repeat;

  background-size: cover;
  background-position: center;
  height: 90vh;
  
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;

}

.main-info h1 {
color: rgb(123, 32, 241);
text-transform: uppercase;
-webkit-text-stroke: 1.2px rgb(32, 2, 32);
}

@media(max-width: 768px) {
  .main-info h1 {
    font-size: 1.5rem !important
  }
}


/* ----------TYPED TEXT------------- */

.typed-text {
  font-size: 2rem;
  color: #fff;
  -webkit-text-stroke: 1.5px rgb(32, 2, 32);

}

@media(max-width: 768px) {
  .main-info h1 {
    font-size: 1.7rem !important
  }
  .typed-text {
    font-size: 1.3rem !important
  }
}


/* -------HEADER MAIN OFFER BUTTON------- */
.btn-main-offer {
  border: 0.300rem solid;
  border-color: blueviolet;
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: rgb(236, 236, 236);
  -webkit-text-stroke: 1px rgb(6, 7, 6);
  font-size: 1.05rem;
  background-color: rgb(185, 87, 209);
  margin: 2rem;
  
}
.btn-main-offer:hover {
  text-decoration: none;
  background-color:rgb(158, 14, 172);
}
/* ---------PARTICLE JS---------- */
.tsparticles-canvas-el{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  color:rgb(118, 41, 190)
}

@media(max-width: 768px) {
  .particles-canvas {
    display: none;
  }
}

.portfoliobg {
  position: relative;
background-color: cadetblue;

}
.col {
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
}

.Projects {
  padding-top: 0.75rem;
}
.card {
  
}

.projbtn {
  border: 0.300rem solid;
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: rgb(236, 236, 236);
  -webkit-text-stroke: 1px rgb(6, 7, 6);
  font-size: 1.05rem;
  background-color: rgb(250, 250, 250);
}
@media(max-width: 768px) {
  .projbtn {
   font-size: 0.75rem;
  }
}

#contact {
  float: left; 
 margin-top: 0rem;
   margin-left: 20px; 
   margin-bottom: 30px; 
   background-color: rgb(152, 251, 218);
}

#contactbtn {
  margin-bottom: 10px; 
  background-color: black; 
  color: white;
}